.Insurance{
  height: 1200px;  
  background: url(https://auto1-homepage.prod.mp.auto1.cloud/2.12.3/images/map.png);
  background-color: rgba(4, 36, 78, 0.808);
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
.Input1{
  flex-direction: column;
  /* margin: auto; */
}
.checkbox{
  margin-right:800px ;
  color: rgb(226, 8, 8);
  border-color: rgb(236, 10, 48);
  border-radius: 50%;
}
.Vtype{
  color: black;
}
.Form{
  font-size: 100%;
  color: rgb(21, 24, 27);
  font-weight: 800;
}

.Bank{
  width: 250px;
  height: 55px;
  background: black;
  color: aliceblue;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 700;
  margin-left: 600px;

}