.signup-page {
  height: 1000px;
  background: url(https://static.vecteezy.com/system/resources/thumbnails/002/019/012/original/dark-world-map-dots-animate-corporate-background-free-video.jpg);
  background-color: rgb(34, 27, 27);
  text-align: start;
  color: rgb(19, 21, 21);
  display: flex;
  flex-direction: column;
}
.register {
  width: 400px;
  height: 55px;
  background: black;
  color: aliceblue;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
}

.form {
  margin-left: 100px;

  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #e5dddd;
}
/* input[type="text"],
input[type="password"] {
  width: 40%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #130139;
} */

.Signing {
  text-align: center;
  margin-top: 20px;
}
